:root {
  --color-primary-100: #5570f1;
  --color-primary-90: #6078ec;
  --color-primary-80: #6d83ec;
  --color-primary-70: #7c8fec;
  --color-primary-60: #8899e9;
  --color-primary-50: #97a5eb;
  --color-primary-40: #abb5e9;
  --color-primary-30: #b6bfe8;
  --color-primary-20: #c4cae8;
  --color-primary-10: #dbdeee;

  --color-secondary-100: #ffcc91;
  --color-secondary-90: #ffd29e;
  --color-secondary-80: #ffdaae;
  --color-secondary-70: #ffdfba;
  --color-secondary-60: #ffe5c8;
  --color-secondary-50: #ffead1;
  --color-secondary-40: #fff0de;
  --color-secondary-30: #fff2e2;
  --color-secondary-20: #fef5ea;
  --color-secondary-10: #fef9f2;

  --color-black-100: #1c1d22;
  --color-black-90: #2c2d33;
  --color-black-80: #33343a;
  --color-black-70: #37393f;
  --color-black-60: #45464e;
  --color-black-50: #53545c;
  --color-black-40: #6e7079;
  --color-black-30: #8b8d97;
  --color-black-20: #a6a8b1;
  --color-black-10: #bec0ca;

  --color-actions-green: #519c66;
  --color-actions-red: #cc5f5f;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

html,
body,
input,
textarea,
button {
  font-size: 1.6rem;

  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;

  display: flex;

  background-color: #f4f5fa;
}

aside {
  min-width: 30rem;

  padding: 2.8rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  background-color: #ffffff;

  transition: min-width 0.3s linear;
}

aside .close-sidebar {
  margin-left: auto;

  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: transparent;

  outline: 0;
  border: 0;
}

aside .close-sidebar i {
  color: var(--color-black-60);

  font-size: 2.4rem;
}

aside .collapse-sidebar {
  width: 2.4rem;
  height: 2.4rem;

  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  outline: 0;
  border: 0;
}

aside .collapse-sidebar i {
  color: var(--color-black-50);

  font-size: 2rem;
}

aside .expand-sidebar {
  width: 2.4rem;
  height: 2.4rem;

  margin-left: auto;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  outline: 0;
  border: 0;
}

aside .expand-sidebar i {
  color: var(--color-black-50);

  font-size: 2rem;
}

aside .logo-container {
  display: flex;
  align-items: center;
}

aside .logo-container img {
  width: 5.2rem;
  height: 5.2rem;
}

aside .logo-container span {
  color: var(--color-black-60);

  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

aside ul li a {
  padding-left: 2rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

aside ul li a i {
  color: var(--color-black-50);

  font-size: 2rem;
}

aside ul li a p {
  color: var(--color-black-50);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

aside ul li a span {
  width: 2.4rem;
  height: 2.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-secondary-100);
  color: var(--color-black-100);

  border-radius: 100%;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

aside ul .active a {
  padding: 1.6rem 2rem;

  background-color: var(--color-primary-100);

  border-radius: 1.2rem;
}

aside ul .active a i {
  color: #ffffff;
}

aside ul .active a p {
  color: #ffffff;
}

aside .footer-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

aside .footer-sidebar .contact-support a {
  padding: 1.1rem 1.6rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;

  background-color: rgba(94, 99, 102, 0.1);

  border-radius: 1.6rem;
}

aside .footer-sidebar .contact-support a i {
  color: #000000;

  font-size: 2rem;
}

aside .footer-sidebar .contact-support a p {
  color: var(--color-black-100);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

aside .footer-sidebar .banner a {
  padding: 1.1rem 1.6rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;

  background-color: rgba(255, 204, 145, 0.2);

  border-radius: 1.6rem;
}

aside .footer-sidebar .banner a i {
  color: #000000;

  font-size: 2rem;
}

aside .footer-sidebar .banner a p {
  color: var(--color-black-100);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

aside .footer-sidebar a {
  padding-left: 0.8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

aside .footer-sidebar a i {
  color: var(--color-actions-red);

  font-size: 2rem;
}

aside .footer-sidebar a p {
  color: var(--color-actions-red);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.collapsible {
  min-width: 8.8rem;

  padding: 1.8rem;
}

.collapsible .collapse-sidebar {
  display: none;
}

.collapsible .expand-sidebar {
  display: flex;
}

.collapsible .logo-container {
  justify-content: center;
  align-items: center;
}

.collapsible .logo-container span,
.collapsible ul li a p,
.collapsible .footer-sidebar .contact-support a p,
.collapsible .footer-sidebar .banner a p,
.collapsible .footer-sidebar a p {
  display: none;
}

.collapsible ul li a {
  padding-left: 0;

  justify-content: center;
  align-items: center;
}

.collapsible ul li a {
  position: relative;
}

.collapsible ul li a span {
  position: absolute;

  top: -1.4rem;
  left: 2.8rem;
}

.collapsible ul li.active a span {
  top: -1rem;
  left: 4rem;
}

.collapsible ul li.active a,
.collapsible .footer-sidebar .contact-support a,
.collapsible .footer-sidebar .banner a {
  padding: 1.6rem 2rem;

  justify-content: center;
  align-items: center;
}

.collapsible .footer-sidebar a {
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

main header {
  padding: 1.4rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  background-color: #ffffff;
}

main header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header .header-container div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

main header .header-container div .open-sidebar {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: transparent;

  outline: 0;
  border: 0;
}

main header .header-container div .open-sidebar i {
  color: var(--color-black-60);

  font-size: 2.4rem;
}

main header .header-container div span {
  color: var(--color-black-60);

  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main header .header-container .profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main header .header-container .profile select {
  padding: 0.6rem 1.2rem;

  background-color: var(--color-secondary-20);
  color: var(--color-black-100);

  outline: 0;
  border: 0;
  border-radius: 0.8rem;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main header .header-container .profile i {
  color: var(--color-primary-100);

  font-size: 2rem;
}

main header .header-container .profile img {
  width: 3.2rem;
  height: 3.2rem;

  border-radius: 0.8rem;
}

main header .breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

main header .breadcrumbs a {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;

  color: var(--color-black-30);

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main header .breadcrumbs a i {
  color: var(--color-primary-100);

  font-size: 2rem;
}

main .container {
  padding: 1.4rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

main .container .container-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .container-header span {
  color: var(--color-black-60);

  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main .container .container-header button {
  padding: 1.2rem 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--color-primary-100);
  color: #ffffff;

  outline: 0;
  border: 0;
  border-radius: 12px;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

main .container .container-header button i {
  color: #ffffff;

  font-size: 2rem;
}

main .container .stats {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

main .container .stats .summary-card {
  padding: 1.1rem 1.5rem;

  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 2.4rem;

  background-color: #ffffff;

  border-radius: 1.2rem;
}

main .container .stats .summary-card.blue {
  background-color: var(--color-primary-100);
}

main .container .stats .summary-card .summary-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

main .container .stats .summary-card .summary-heading .icon {
  width: 3.6rem;
  height: 3.6rem;

  padding: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.8rem;
}

main .container .stats .summary-card .summary-heading .icon.gray {
  background-color: rgba(255, 255, 255, 0.16);
  color: #ffffff;
}

main .container .stats .summary-card .summary-heading .icon.yellow {
  background-color: rgba(255, 204, 145, 0.16);
  color: #130f26;
}

main .container .stats .summary-card .summary-heading .icon i {
  font-size: 2rem;
}

main .container .stats .summary-card .summary-heading select {
  background-color: transparent;
  color: var(--color-black-10);

  outline: 0;
  border: 0;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .container .stats .summary-card .summary-data-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 3.2rem;
}

main .container .stats .summary-card .summary-data-container .summary-data {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

main .container .stats .summary-card .summary-data-container .summary-data p {
  color: var(--color-black-30);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .container
  .stats
  .summary-card.blue
  .summary-data-container
  .summary-data
  p {
  color: #ffffff;
}

main
  .container
  .stats
  .summary-card
  .summary-data-container
  .summary-data
  p.red {
  color: var(--color-actions-red);
}

main
  .container
  .stats
  .summary-card
  .summary-data-container
  .summary-data
  span {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  color: var(--color-black-60);

  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main
  .container
  .stats
  .summary-card.blue
  .summary-data-container
  .summary-data
  span {
  color: #ffffff;
}

main
  .container
  .stats
  .summary-card
  .summary-data-container
  .summary-data
  span
  .percent {
  color: var(--color-primary-10);

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content {
  width: 100%;

  padding: 2.2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: #ffffff;

  border-radius: 1.2rem;
}

main .content .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .content .header-content span {
  color: var(--color-black-60);

  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main .content .header-content .header-filters {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

main .content .header-content .header-filters .input-wrapper {
  width: 18rem;

  position: relative;

  border: 0.1rem solid #cfd3d4;
  border-radius: 0.4rem;
}

main .content .header-content .header-filters .input-wrapper input {
  width: 100%;

  padding: 0.8rem 1.4rem 0.8rem 3rem;

  background-color: transparent;
  color: #abafb1;

  outline: 0;
  border: 0;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content .header-content .header-filters .input-wrapper i {
  position: absolute;

  left: 0.8rem;
  top: 0.6rem;

  color: #130f26;

  font-size: 2rem;
}

main .content .header-content .header-filters button {
  padding: 0.4rem 0.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  background-color: transparent;
  color: var(--color-black-50);

  outline: 0;
  border: 0.1rem solid var(--color-black-50);
  border-radius: 0.4rem;

  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content .header-content .header-filters button i {
  color: var(--color-black-50);

  font-size: 2rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter {
  width: 31.7rem;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  position: absolute;
  right: 4rem;

  background-color: #ffffff;

  box-shadow: 0rem 0.4rem 3.2rem 0rem rgba(61, 70, 112, 0.08);

  border-radius: 1.2rem;

  transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);

  visibility: hidden;

  z-index: 1;

  opacity: 0;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  span {
  color: var(--color-black-100);

  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .checkbox-container
  span {
  color: var(--color-black-50);

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .checkbox-container
  .checkboxs {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.8rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .checkbox-container
  .checkboxs
  .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .checkbox-container
  .checkboxs
  .checkbox-wrapper
  input {
  width: 1.6rem;
  height: 1.6rem;

  accent-color: var(--color-black-90);

  border: 0.1rem solid #cfd3d4;
  border-radius: 0.8rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .checkbox-container
  .checkboxs
  .checkbox-wrapper
  label {
  color: #83898c;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  hr {
  width: 100%;
  height: 0.1rem;

  border-color: #f1f3f9;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .select-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .select-wrapper
  label {
  color: var(--color-black-50);

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .select-wrapper
  select {
  padding: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 1rem;

  background-color: transparent;
  color: var(--color-black-100);

  outline: 0;
  border: 0.1rem solid #e1e2e9;
  border-radius: 0.8rem;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 171.429% */
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .prices-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .prices-container
  span {
  color: var(--color-black-50);

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .prices-container
  .inputs-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.2rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .prices-container
  .inputs-container
  .input-wrapper {
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;

  border: 0;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .prices-container
  .inputs-container
  .input-wrapper
  label {
  align-self: stretch;

  color: var(--color-black-100);

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 15px */
  letter-spacing: -0.25px;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  .prices-container
  .inputs-container
  .input-wrapper
  input {
  padding: 0.7rem 1.2rem;

  background-color: #ffffff;
  color: var(--color-black-100);

  outline: 0;
  border: 0.1rem solid #e1e2e9;
  border-radius: 0.8rem;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main
  .content
  .header-content
  .header-filters
  .filter-container
  .dropdown-filter
  .dropdown-filter-content
  button {
  width: 100%;

  padding: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--color-primary-100);
  color: #ffffff;

  outline: 0;
  border: 0;
  border-radius: 1.2rem;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date {
  width: 26rem;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  position: absolute;
  right: 4rem;

  background-color: #ffffff;

  box-shadow: 0rem 0.4rem 3.2rem 0rem rgba(61, 70, 112, 0.08);

  border-radius: 1.2rem;

  transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);

  visibility: hidden;

  z-index: 1;

  opacity: 0;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date
  span {
  color: var(--color-black-100);

  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date
  .dropdown-filter-by-date-content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date
  .dropdown-filter-by-date-content
  .checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date
  .dropdown-filter-by-date-content
  .checkbox-container
  .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date
  .dropdown-filter-by-date-content
  .checkbox-container
  .checkbox-wrapper
  input {
  width: 1.6rem;
  height: 1.6rem;

  accent-color: var(--color-black-90);

  border: 0.1rem solid #cfd3d4;
  border-radius: 0.8rem;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date
  .dropdown-filter-by-date-content
  .checkbox-container
  .checkbox-wrapper
  label {
  color: #2b2f32;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

main
  .content
  .header-content
  .header-filters
  .filter-by-date-container
  .dropdown-filter-by-date
  .dropdown-filter-by-date-content
  button {
  width: 100%;

  padding: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--color-primary-100);
  color: #ffffff;

  outline: 0;
  border: 0;
  border-radius: 1.2rem;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

main .content table {
  display: table;

  border-spacing: 1.2rem;
  border-collapse: separate;
}

main .content table thead tr th {
  padding: 1.2rem;

  border-top: 0.1rem solid #e1e2e9;
  border-bottom: 0.1rem solid #e1e2e9;
}

main .content table thead tr th div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content table thead tr th:nth-child(1) div,
main .content table thead tr th:nth-child(2) div,
main .content table thead tr th:nth-child(3) div,
main .content table thead tr th:nth-child(8) div {
  justify-content: start;
}

main .content table thead tr th div input {
  width: 2rem;
  height: 2rem;

  accent-color: var(--color-black-90);

  border: 0.1rem solid #cfd3d4;
  border-radius: 0.8rem;
}

main .content table thead tr th div span {
  color: var(--color-black-90);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content table tbody tr td {
  padding: 0 1.2rem;
}

main .content table tbody tr td div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content table tbody tr td:nth-child(1) div,
main .content table tbody tr td:nth-child(2) div,
main .content table tbody tr td:nth-child(3) div,
main .content table tbody tr td:nth-child(8) div {
  justify-content: start;
}

main .content table tbody tr td div .title-head {
  display: none;

  color: var(--color-black-90);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content table tbody tr td .email div {
  gap: 0.6rem;
}

main .content table tbody tr td .phone div {
  gap: 0.6rem;
}

main .content table tbody tr td div input {
  width: 2rem;
  height: 2rem;

  accent-color: var(--color-black-90);

  border: 0.1rem solid #cfd3d4;
  border-radius: 0.8rem;
}

main .content table tbody tr td div span {
  color: var(--color-black-40);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content table tbody tr td .product-name div {
  gap: 0.6rem;
}

main .content table tbody tr td .product-name div img {
  width: 3.6rem;
  height: 3.6rem;

  flex-shrink: 0;

  border: 0.1rem solid #f1f3f9;
  border-radius: 0.8rem;
}

main .content table tbody tr td .product-name div span {
  color: var(--color-black-40);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content table tbody tr td .in-stock .out-of-stock {
  color: var(--color-black-20);
}

main .content table tbody tr td .actions div .more-actions {
  height: 2.3rem;

  padding: 0 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: rgba(94, 99, 102, 0.08);
  color: var(--color-black-30);

  outline: 0;
  border: 0;
  border-radius: 0.8rem;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content table tbody tr td .actions div .more-actions i {
  color: var(--color-black-30);

  font-size: 1.6rem;
}

main .content table tbody tr td .actions div .dropdown-more-actions {
  width: 15rem;

  margin-top: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.6rem;

  position: absolute;

  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.05) 0 0.6rem 1rem 0,
    rgba(0, 0, 0, 0.1) 0 0 0 0.1rem;

  border-radius: 1rem;

  transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);

  visibility: hidden;

  z-index: 1;

  opacity: 0;
}

main .content table tbody tr td .actions div .dropdown-more-actions button {
  width: 100%;

  padding: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: var(--color-black-30);

  outline: 0;
  border: 0;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .content
  table
  tbody
  tr
  td
  .actions
  div
  .dropdown-more-actions
  button:hover {
  background-color: rgba(85, 112, 241, 0.16);
}

main .content table tbody tr td .status .badge {
  padding: 0.4rem 1.1rem;

  display: flex;
  align-items: flex-start;
  gap: 1rem;

  border-radius: 0.8rem;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

main .content table tbody tr td .status .publish {
  background-color: rgba(85, 112, 241, 0.16);
  color: var(--color-primary-100);
}

main .content table tbody tr td .status .unpublish {
  background-color: var(--color-secondary-30);
  color: var(--color-black-100);
}

@media screen and (max-width: 1024px) {
  aside {
    height: 100vh;

    margin-left: -100vw;

    display: none;

    position: fixed;

    animation-duration: 500ms;
  }

  aside .close-sidebar {
    display: flex;
  }

  aside .collapse-sidebar {
    display: none;
  }

  aside .expand-sidebar {
    display: none;
  }

  main header .header-container div .open-sidebar {
    display: flex;
  }

  main .container .stats {
    grid-template-columns: repeat(1, 1fr);
  }

  main .content table thead {
    display: none;
  }

  main .content table tbody tr td:nth-child(9) {
    border-bottom: 0.1rem solid #e1e2e9;
  }

  main .content table tbody tr td {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
  }

  main .content table tbody tr td:nth-child(1) div {
    display: flex;
    justify-content: end;
  }

  main .content table tbody tr td:nth-child(2) div,
  main .content table tbody tr td:nth-child(3) div,
  main .content table tbody tr td:nth-child(4) div,
  main .content table tbody tr td:nth-child(5) div,
  main .content table tbody tr td:nth-child(6) div,
  main .content table tbody tr td:nth-child(7) div,
  main .content table tbody tr td:nth-child(8) div,
  main .content table tbody tr td:nth-child(9) div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .content table tbody tr td div .title-head {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  main .content .header-content {
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  main header .header-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
  }

  main header .header-container div {
    width: 100%;

    justify-content: space-between;
  }

  main header .header-container .profile {
    justify-content: end;
  }

  main .container .container-header {
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
  }

  main .container .container-header button {
    width: 100%;
  }

  main .content .header-content .header-filters {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  main .content .header-content .header-filters .input-wrapper,
  main .content .header-content .header-filters .filter-container,
  main .content .header-content .header-filters .filter-by-date-container,
  main .content .header-content .header-filters button {
    width: 100%;
  }
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -0vw;
  }
}
