:root {
  --color-primary-100: #5570f1;
  --color-primary-90: #6078ec;
  --color-primary-80: #6d83ec;
  --color-primary-70: #7c8fec;
  --color-primary-60: #8899e9;
  --color-primary-50: #97a5eb;
  --color-primary-40: #abb5e9;
  --color-primary-30: #b6bfe8;
  --color-primary-20: #c4cae8;
  --color-primary-10: #dbdeee;

  --color-secondary-100: #ffcc91;
  --color-secondary-90: #ffd29e;
  --color-secondary-80: #ffdaae;
  --color-secondary-70: #ffdfba;
  --color-secondary-60: #ffe5c8;
  --color-secondary-50: #ffead1;
  --color-secondary-40: #fff0de;
  --color-secondary-30: #fff2e2;
  --color-secondary-20: #fef5ea;
  --color-secondary-10: #fef9f2;

  --color-black-100: #1c1d22;
  --color-black-90: #2c2d33;
  --color-black-80: #33343a;
  --color-black-70: #37393f;
  --color-black-60: #45464e;
  --color-black-50: #53545c;
  --color-black-40: #6e7079;
  --color-black-30: #8b8d97;
  --color-black-20: #a6a8b1;
  --color-black-10: #bec0ca;

  --color-actions-green: #519c66;
  --color-actions-red: #519c66;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

html,
body,
input,
textarea,
button {
  font-size: 1.6rem;

  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;

  background-color: #f4f5fa;
}

header {
  width: 100%;

  background-color: #ffffff;

  padding: 1rem 0 1rem 8rem;
}

header img {
  width: 5.2rem;
  height: 5.2rem;
}

form {
  min-width: 44rem;

  margin-bottom: 6rem;
  padding: 4.4rem 3.4rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  background-color: #fff;

  border-radius: 1.2rem;
}

form .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

form .heading img {
  width: 6rem;
  height: 6rem;
}

form .heading .intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

form .heading .intro-content span {
  color: #000000;

  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

form .heading .intro-content p {
  color: var(--color-black-30);

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

form .form-content {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

form .form-content .form-input-content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2rem;
}

form .form-content .form-input-content .input-fields {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

form .form-content .form-input-content .input-fields .input-wrapper {
  width: 100%;
}

form
  .form-content
  .form-input-content
  .input-fields
  .input-wrapper
  .input-container {
  width: 100%;

  position: relative;
}

form
  .form-content
  .form-input-content
  .input-fields
  .input-wrapper
  .input-container
  input {
  width: 100%;

  padding: 1.2rem 1.6rem 1.2rem 3.4rem;

  background-color: rgba(239, 241, 249, 0.6);
  color: #abafb1;

  outline: 0;
  border: 0;
  border-radius: 0.8rem;

  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form
  .form-content
  .form-input-content
  .input-fields
  .input-wrapper
  .input-container
  i {
  position: absolute;

  top: 1.2rem;
  left: 0.8rem;

  color: var(--color-black-40);

  font-size: 2rem;
}

form .form-content .form-input-content a {
  color: var(--color-primary-100);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

form .form-content p {
  color: var(--color-black-30);

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

form .form-content p a {
  color: var(--color-primary-100);
}

form .form-content button {
  padding: 1.4rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--color-primary-100);
  color: #ffffff;

  outline: 0;
  border: 0;
  border-radius: 1.2rem;

  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
